build/*
.vscode/
.vs/
.DS_Store
*~
out/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vcxproj*
CMakeCache.txt
CMakeFiles/
Debug/
_deps/
cmake_install.cmake
imgui.*
include/KHR/
include/glad/
shaderpixel.*
src/glad.c
x64/